# .gitignore

# Ignorar arquivos de configuração do ambiente
.env

# Ignorar a pasta Docker
Docker/linux_dev/*
Docker/linux_teste/*.txt

# Ignorar estrutura de tabela local
database/*

# Ignorar arquivos de log
*.log

# Ignorar cache do Python
__pycache__/
